@charset "utf-8";

/* HEADER
------------------------------- */
.page-header {
  padding-bottom: 10px;
}

.site-title {
  font-size: 2rem;
  font-weight: normal;
}

.site-title a {
  color: #fff200;
}
