@charset "utf-8";

html {
  font-size: 100%;
}

body {
  background-color: #323639;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
}

nav {
  float: left;
  width: 20%;
  min-width: 140px;
}

footer {
  clear: both;
}

li {
  list-style-type: none;
}

a:link {
  color: #00a2e8;
}
a:visited {
  color: #a349a4;
}

a#title {
  color: #fff200;
  text-decoration: none;
}

img.def {
  width: 40%;
}

#main {
  float: left;
  width: 100%;
  max-width: 860px;
}

.novel {
  max-width: 600px;
}

.iframe-wrapper640 {
  position: relative;
  width: 100%;
  padding: calc(640 / 960 * 100%) 0 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.iframe-wrapper720 {
  position: relative;
  width: 100%;
  padding: calc(720 / 1280 * 100%) 0 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.iframe-wrapper640 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-wrapper720 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#copyright {
  text-align: center;
}

@media screen and (max-width: 480px) {
  * {
    float: none;
    position: static;
  }

  body {
    width: 96%;
  }

  nav {
    width: 100%;
  }

  img.def {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  #main {
    width: 100%;
  }
}
