@charset "utf-8";

body {
    background-color: #323639;
    font-size: 100%;
    font-family: sans-serif;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
}

nav {
    float: left;
    width: 10%;
    min-width: 140px;
}

footer {
    clear: both;
}

h1 {
    color: #fff200
}

li {
    list-style-type: none;
}

a:link { color: #00a2e8; }
a:visited { color: #a349a4; }

img.def {
    width: 40%;
}

#main {
    float: left;
    width: 90%;
    max-width: 860px;
}

.novel {
    max-width: 600px;
}

#copyright {
    text-align: center;
}

@media screen and (max-width:480px) {
    * {
	float: none;
	position: static;
    }
    
    body {
	width: 96%;
    }

    nav {
	width: 100%;
    }
    
    img.def {
	width: 100%;
	max-width: 100%;
	height: auto;
    }

    #main {
	width: 100%;
    }
}
