@charset "utf-8";

/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  background-color: #323639;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #ffffff;
}

a {
  text-decoration: none;
}
a:link {
  color: #00a2e8;
}
a:visited {
  color: #a349a4;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.main-contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

aside {
  width: 20%;
}

/* ナビゲーションメニュー */
nav.main-nav {
  margin: 8px 0;
  padding: 8px 0;
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
}

.main-nav li {
  list-style-type: none;
}

/* メイン部分 */
article {
  width: 75%;
}

article img {
  margin-bottom: 20px;
}

article p {
  margin-bottom: 1rem;
}

.page-info {
  margin-bottom: 20px;
}

.page-info p {
  margin: 0;
}

.page-title {
  font-size: 1.7rem;
  font-weight: normal;
}

.page-date {
  text-align: right;
}

.section-title {
  font-size: 1.3rem;
  font-weight: normal;
  border-bottom: 1px #fff solid;
  margin-bottom: 1rem;
}

.page-bottom {
  text-align: right;
}

.novel {
  max-width: 600px;
}

@media screen and (max-width: 480px) {
  .main-contents {
    flex-direction: column;
  }

  aside,
  article {
    width: 100%;
  }
}
